<%- include("partials/header", { title, activePage }) %>
<h1><%= title %></h1>

<ul>
    <% students.forEach(s => { %>
        <li>
            <div>
                <a class="student-link" href="/students/<%= s.id %>"><%= s.name %></a>
            </div>
            <div class="meta"><%= s.major %></div>
        </li>
    <% }) %>
</ul>

<%- include("partials/footer") %>